:root {
  --interfaceGrey: #d4d4d4;
  --casinoRed: #6d0202;
  --casinoYellow: #9b870c;
  --tableBackground: #06170e;
  --buttonsBackground: #0d331f;
  --buttonText: rgb(250, 243, 225);
  --scoreBackground: #9b880c6b;
  --scoreText: white;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--tableBackground);
  max-width: 600px;
  margin: auto;
}

img {
  border-radius: 30px;
  border: solid 2px var(--casinoYellow);
  width: 100vw;
}
#playerImg {
  max-width: 500px;
}
#dealerImg {
  max-width: 500px;
}

#playHands {
  color: var(--interfaceGrey);
}

#gameTitle {
  border-radius: 30px;
  border: solid 3px var(--casinoRed);
  color: var(--interfaceGrey);
  padding: 10px 20px;
  margin: 10px;
}

#controls button {
  background-color: var(--buttonsBackground);
  width: 150px;
  padding: 15px;
  margin: 10px;
  border-radius: 30px;
  font-size: 20px;
  font-style: bold;
  color: var(--buttonText);
}

.scoreBox {
  position: absolute;
  padding: 5px 30px;
  margin: 30px;
  font-size: 50px;
  font-style: bold;
  color: var(--scoreText);
  background-color: var(--scoreBackground);
  border: solid 3px var(--casinoYellow);
  border-radius: 10px;
  min-width: 50px;
  min-height: 60px;
  text-align: center;
}

#handsContainer {
  width: 500px;
}
.hands {
  height: 60px;
  border-radius: 20px;
  border: solid 3px var(--casinoRed);
  padding: 20px;
  margin: 10px;
  color: white;
}

.nameCard {
  position: absolute;
  color: white;
  transform: translate(30px, -70px);
  font-size: 25px;
}

#sillyTag {
  text-decoration: underline;
}
